<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href="plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="plugins/summernote/summernote-bs4.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  

    <title>Admin-Home</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <%- include('./header'); %>

        <%- include('./sidebar'); %>


        <% if(message.length>0){ %>

   
            <div class="alert alert-danger " role="alert">
              <center>
                <b><%= message %></b> 
      
              </center>
            </div>
          
      
          <% }%>
            <br>
            <br>

          <button type="button" class="btn btn-primary float-right mr-4 mt-3" data-toggle="modal" data-target="#exampleModal">
            Add+
          </button>
        <center>
          <div class="col-lg-6 ml-5">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Courts</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
        <table class="table" >
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Court Name</th>
                <th scope="col">Court Picture</th>
                <th scope="col">is available</th>
                <th scope="col">Club ID</th>
                <th scope="col">Club Title</th>
              

               
                <th scope="col">Delete</th>

              </tr>
            </thead>
            <tbody>
            
                <% for (var i = 0; i < courts.length; i++) { %> 
                  <tr>
                    <th scope="row"><%= courts[i]._id.toString().substring(0,10) %></th>
                    <td><%= courts[i].court_name %></td>

                    <td>
                      <img src="http://localhost:5000/uploads/<%= courts[i].picture %>" style="width:80px;height:80px">
                    </td>


                    <% if(courts[i].is_available == 0){ %>
                      <td>No</td>
                      <% }else{ %>
                          <td>Yes</td>

                       <% } %>

                       <% courts[i].club.forEach(function(c){ %>
                        <td><%= c._id.toString().substring(0,10) %></td>
                        <td><%= c.club_name %></td>
                        
                       <%})%>

                       <td>
                         <a href="/courts/delete_court/<%= courts[i]._id  %>" class="btn btn-danger">Delete</a>
                       </td>

                  </tr>
                  <%}%>
            </tbody>
          </table>
          </div>
                </div>
              </div>
            </div>

        </center>

      
    </div>











<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Court</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action="/courts/add_court" method="post" enctype="multipart/form-data">
                
              <input required type="text" required  class="form-control" name="court_name" placeholder="Court Name">
              
              <br>

             <input type="file" required name="court_picture" class="form-control">

             <br>
             <select required name="is_available" class="form-control">
              <option selected>Is Available</option>

              <option value="1">Yes</option>

              <option value="0">No</option>

            </select>

            <br>


            <select required name="club" class="form-control">
              <option selected>Select Club </option>

              <% for (var i = 0; i < clubs.length; i++) { %>
              <option value="<%= clubs[i]._id %>"><%= clubs[i].club_name %></option>

              <% } %>

            </select>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>

        </div>
      </div>
    </div>
  </div>




    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="plugins/moment/moment.min.js"></script>
<script src="plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="js/demo.js"></script>  
</body>
</html>